
  #thirdDiv{ 
      width: 500px;
      height: 600px;
      background-color: #fcd678;
      padding: 50px;
      border: 4px solid gray;

}
.divclass 

#spanId {
    font-size: 18px;
    margin: 50px;
  
}

